.panelSpechial {
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.panelSpechial:hover {
  transition: ease-in 0.2s;
  opacity: 1;
}

.panelSpechial-no-clip {
  opacity: 0;
}
.panelSpechial-no-clip:hover {
  transition: ease-in 0.2s;
  opacity: 1;
}
.panelSpechial-no-clip .panelSpechial-child {
  padding-right: 0px;
}

.panelSpechial-child {
  width: auto;
  height: auto;
  padding-right: 10px;
}

.bntuploadnone {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: whitesmoke;
}
.bntuploadnone .bntnulltextimage {
  font-size: 10px;
  opacity: 0;
}
.bntuploadnone:hover {
  background-color: lightgray;
  transition: ease-in-out 0.3s;
}
.bntuploadnone:active {
  background-color: #bababa;
  transition: ease-in-out 0.3s;
}
.bntuploadnone:hover .bntnulltextimage {
  opacity: 1;
  font-size: 12px;
  transition: ease-in-out 0.3s;
}

.bntupload {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-size: 100px;
}
.bntupload:hover {
  -webkit-backdrop-filter: brightness(85%);
  backdrop-filter: brightness(85%);
  transition: ease-in-out 0.3s;
}

.bntedit {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 14px;
  padding: 0;
  background-color: #3498db;
}
.bntedit:hover {
  background-color: #217dbb;
}
.bntedit:active {
  background-color: #196090;
}

.bntedit-true {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 14px;
  padding: 0;
  background-color: #2ecc71;
}
.bntedit-true:hover {
  background-color: #25a25a;
}
.bntedit-true:active {
  background-color: #1b7943;
}

.bntedit-false {
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  width: 25px;
  height: 25px;
  font-size: 14px;
  padding: 0;
  background-color: #e74c3c;
}
.bntedit-false:hover {
  background-color: #d62c1a;
}
.bntedit-false:active {
  background-color: #a82315;
}

.disp-image {
  width: 150px;
  height: 150px;
}

.disp-by {
  font-size: 10px;
  color: lightgray;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nodrag {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.popover {
  max-width: 450px !important;
}

.product-disp .card {
  width: 200px !important;
  max-width: 200px !important;
  max-height: 400px !important;
}

.product-disp .card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
