@page "/counter"
@inject IJSRuntime JS

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<PaypalPlugin class="col-md-6" PaymentDescription="sex" PaymentAmount="100"/>

@code {
    private int currentCount = 0;

    private void IncrementCount(MouseEventArgs e)
    {
        currentCount++;
    }
}
